@{
    ViewBag.Title = "Form";
}

@model string

<pre>
    Form().Elements(Container().Class("well").Style("padding: 20px;").Elements(
                Label("Form label"),
                Container().Class("col-md-6").Elements(
                        Container().Class("form-group").Elements(
                            Label("Input 1"),
                            Input().Class("form-control"),
                            Label("Input 2"),
                            Input().Class("form-control")),
                        Label("Input 3"),
                        Input().Class("form-control")),
                Container().Class("col-md-6 form-group").Elements(
                        Label("Input 4"),
                        Input().Class("form-control"))));
</pre>
<h4>Result: </h4>
<div>
    @Html.Raw(Model)
</div>